flows/user-data/.nr-flows.json.backup
[{"id":"9939ae7b.6bba5","type":"tab","label":"Load _templates","disabled":false,"info":""},{"id":"bbf2be1b.dcc44","type":"tab","label":"getMetadata","disabled":false,"info":""},{"id":"7714bfe9.5b406","type":"tab","label":"invite","disabled":false,"info":""},{"id":"e51c2892.38d308","type":"tab","label":"Register","disabled":false,"info":""},{"id":"16f22c04.9f4fa4","type":"inject","z":"9939ae7b.6bba5","name":"","topic":"","payload":"{\"artConfig\":{\"baseURL\":\"http://localhost:3000/bhive-art/\",\"tenant\":\"mentorme\",\"dataSource\":\"mentorme\",\"app\":\"mentorme\",\"userName\":\"test\",\"password\":\"test\"},\"bottomNavBar\":{\"mentor\":[{\"icon\":\"track_changes\",\"name\":\"Goals\",\"url\":\"\"},{\"icon\":\"dashboard\",\"name\":\"Activity Feed\",\"url\":\"feed\"},{\"icon\":\"people_outline\",\"name\":\"Mentees List\",\"url\":\"mentees\"}],\"mentee\":[{\"icon\":\"track_changes\",\"name\":\"Goals\",\"url\":\"goals\"},{\"icon\":\"message\",\"name\":\"Messages\",\"url\":\"invite\"},{\"icon\":\"person\",\"name\":\"Profile\",\"url\":\"profile\"}]},\"menu\":[{\"name\":\"Profile\",\"url\":\"profile\"},{\"name\":\"Settings\",\"url\":\"setting\"},{\"name\":\"Log Out\",\"url\":\"login\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":200,"wires":[["2bdc5b97.045674"]]},{"id":"2bdc5b97.045674","type":"change","z":"9939ae7b.6bba5","name":"","rules":[{"t":"set","p":"config.menu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[[]]},{"id":"d4f0751d.9c38c8","type":"http in","z":"bbf2be1b.dcc44","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["5602a491.5fd11c"]]},{"id":"5602a491.5fd11c","type":"function","z":"bbf2be1b.dcc44","name":"menu and bottom navbar","func":"msg.payload = {\n    \"navbar\": global.get(\"config\").menu.bottomNavBar,\n    \"menu\" : global.get(\"config\").menu.menu\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["975cfa8a.724ff8"]]},{"id":"975cfa8a.724ff8","type":"http response","z":"bbf2be1b.dcc44","name":"","statusCode":"","headers":{},"x":790,"y":160,"wires":[]},{"id":"a816f693.578ef8","type":"http in","z":"7714bfe9.5b406","name":"","url":"/invite","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["1e1fd4b6.f43d9b"]]},{"id":"b5a92c85.5f28f","type":"function","z":"7714bfe9.5b406","name":"construct email","func":"\n\nlet subject = `You are invited to MentorMe`;\n\n// msg.payload = {};\n\nmsg.to = msg.req.body.email_address;\nmsg.topic = subject;\nmsg.from = msg.req.mentor;\nnode.warn(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["5e695b69.3d2db4","8e9597b9.7cdf98","64e76023.e4e37"]]},{"id":"5e695b69.3d2db4","type":"http response","z":"7714bfe9.5b406","name":"","statusCode":"","headers":{},"x":770,"y":180,"wires":[]},{"id":"64e76023.e4e37","type":"e-mail","z":"7714bfe9.5b406","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":790,"y":60,"wires":[]},{"id":"8e9597b9.7cdf98","type":"debug","z":"7714bfe9.5b406","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":800,"y":300,"wires":[]},{"id":"1e1fd4b6.f43d9b","type":"template","z":"7714bfe9.5b406","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n   <head>\n      <meta name=\"viewport\" content=\"width=700px, initial-scale=1\">\n      <link href=\"https://fonts.googleapis.com/css?family=Poppins\" rel=\"stylesheet\">\n      <style type=\"text/css\">\n         body{ \n\t\t\t background-color: #CCEAFA;\n\t\t }\n      </style>\n   </head>\n   <body style=\"font-family: 'Verdana';\">\n      <div style=\"text-align:center;width:100%;\">\n         <div style=\"width:700px;margin:0 auto;display:inline-block;margin-left:auto;\">\n            <div style=\"text-align:center;\">\n               <img style=\"       margin: 15px 0px 4px 0;\n                  width: 7em;\" src=\"https://i.ibb.co/Lk9Cs4m/mentor-me-logo.png\"\n                  alt=\"\">\n            </div>\n            <div style=\"margin:auto;width:80%;padding-top:8px;padding-bottom:8px;border-top:1px solid rgb(206,203,203);\">\n               <p style=\"text-align:center; font-size: 30px\">\n                  {{msg.topic}}\n               </p>\n            </div>\n            <div style=\"margin:auto;width:80%;padding-top:8px;padding-bottom:8px;border-top:1px solid rgb(206,203,203);\">\n\t\t\t   Hello ${msg.req.full_name} <br><br>\n\t\t\t   \n\t\t\t   {msg.req.mentorName} would like to mentor you on MentorMe. <br>\n\t\t\t   \n            </div>\n            <div style=\"margin:auto;width:100%;height:52px;\">\n               <!--div style=\"text-align:center;margin-top:20px\">\n                  <a  class=\"btn\" style=\"font-size: 15px; min-width: 274px;text-decoration: none;padding: 20px 60px 20px 60px;color: #ffffff;font-family: Georgia;background: #3368c1;border-radius: 10px;-moz-border-radius: 10;-webkit-border-radius: 10;  background-image: -webkit-linear-gradient(top, #3368c1, #3368c1);background-image: -moz-linear-gradient(top, #3368c1, #3368c1);background-image: -ms-linear-gradient(top, #3368c1, #3368c1);background-image: linear-gradient(to bottom, #3368c1, #3368c1);background-image: -o-linear-gradient(top, #3368c1, #3368c1);\" href=\"${global.get('config')['baseUIurl']}home?id=${msg.payload}\"> Verify My Profile\n                  </a>\n               </div -->\n               <div style=\"  justify-content: center;\">\n                <a href=\"${global.get('config')['baseUIurl']}home?id=${msg.payload}\">\n                <h1>Download MentorMe</h1>\n                </a>\n            </div>\n            </div>\n            <div style=\"margin:auto;width:100%;height:52px; margin-bottom: 15px\">\n               <div style=\"text-align:center\">\n                  <a href=\"${global.get('config')['baseUIurl']}assets/QCD_Terms_and_Conditions.pdf\">Terms and Conditions\n                  </a>\n\t\t\t   </div>\n\t\t\t   <p>If you are not sure what this is about, you can reply to him/her on this email. </p>\n            </div>\n         </div>\n      </div>\n   </body>\n</html>","output":"str","x":280,"y":220,"wires":[["b5a92c85.5f28f"]]},{"id":"6b264f94.cf4b4","type":"http in","z":"e51c2892.38d308","name":"","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["d0ba74ec.10e578"]]},{"id":"d0ba74ec.10e578","type":"function","z":"e51c2892.38d308","name":"set up auth","func":"let art = global.get(\"config.menu\")[\"artConfig\"];\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'PUT';\n//msg.headers[\"Authorization\"] = `Basic ${Buffer.from(art.userName + ':' + art.password).toString('base64')}`;\nmsg.headers[\"Authorization\"] = 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmaXJzdE5hbWUiOiJBbHBoaWUiLCJsYXN0TmFtZSI6IlNoaWt3YW1iYW5hIiwidXNlcm5hbWUiOiJhbHBoaWUuc2hpa3dhbWJhbmFAbmV1dHJpbm9zLmNvIiwidXNlcktleSI6IjI3IiwiZGlzcGxheU5hbWUiOiJBbHBoaWUiLCJncm91cExpc3QiOlsiTkVVVFJJTk9TX0FETUlOIiwiTkVVVFJJTk9TX1NVUEVSX0FETUlOIiwiTkVVVFJJTk9TX1VTRVIiXSwib3JnYW5pc2F0aW9uSWQiOiJtZW50b3JtZSIsImlhdCI6MTU1NDE4NTgzOSwiZXhwIjoxNTU0MTkzMDM5fQ.5zCt6s_1k9TQzZWfYzC9_YFaWzts0RAPOFCBleFkOR4';\nmsg.url = `${art.baseURL}${art.tenant}/auth/${art.app}/register`;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["980e6553.7df358","ec243994.f17f28"]]},{"id":"e11d5914.1f1428","type":"http response","z":"e51c2892.38d308","name":"","statusCode":"","headers":{},"x":870,"y":260,"wires":[]},{"id":"980e6553.7df358","type":"debug","z":"e51c2892.38d308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":160,"wires":[]},{"id":"ec243994.f17f28","type":"http request","z":"e51c2892.38d308","name":"","method":"use","ret":"txt","url":"","tls":"","x":660,"y":260,"wires":[["e11d5914.1f1428"]]},{"id":"c11692d1.273ed","type":"http in","z":"e51c2892.38d308","name":"get access token","url":"/getToken","method":"post","upload":false,"swaggerDoc":"","x":210,"y":100,"wires":[["269d84c8.feb33c"]]},{"id":"269d84c8.feb33c","type":"http request","z":"e51c2892.38d308","name":"","method":"GET","ret":"txt","url":"","x":500,"y":100,"wires":[[]]}]