flows/user-data/nr-flows.json
[{"id":"9939ae7b.6bba5","type":"tab","label":"Load _templates","disabled":false,"info":""},{"id":"bbf2be1b.dcc44","type":"tab","label":"getMetadata","disabled":false,"info":""},{"id":"7714bfe9.5b406","type":"tab","label":"invite","disabled":false,"info":""},{"id":"16f22c04.9f4fa4","type":"inject","z":"9939ae7b.6bba5","name":"","topic":"","payload":"{\"bottomNavBar\":{\"mentor\":[{\"icon\":\"track_changes\",\"name\":\"Goals\",\"url\":\"\"},{\"icon\":\"dashboard\",\"name\":\"Activity Feed\",\"url\":\"feed\"},{\"icon\":\"people_outline\",\"name\":\"Mentees List\",\"url\":\"mentees\"}],\"mentee\":[{\"icon\":\"track_changes\",\"name\":\"Goals\",\"url\":\"goals\"},{\"icon\":\"message\",\"name\":\"Messages\",\"url\":\"invite\"},{\"icon\":\"person\",\"name\":\"Profile\",\"url\":\"profile\"}]},\"menu\":[{\"name\":\"Profile\",\"url\":\"profile\"},{\"name\":\"Settings\",\"url\":\"setting\"},{\"name\":\"Log Out\",\"url\":\"login\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":200,"wires":[["2bdc5b97.045674"]]},{"id":"2bdc5b97.045674","type":"change","z":"9939ae7b.6bba5","name":"","rules":[{"t":"set","p":"config.menu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[[]]},{"id":"d4f0751d.9c38c8","type":"http in","z":"bbf2be1b.dcc44","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["5602a491.5fd11c"]]},{"id":"5602a491.5fd11c","type":"function","z":"bbf2be1b.dcc44","name":"menu and bottom navbar","func":"msg.payload = {\n    \"navbar\": global.get(\"config\").menu.bottomNavBar,\n    \"menu\" : global.get(\"config\").menu.menu\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["975cfa8a.724ff8"]]},{"id":"975cfa8a.724ff8","type":"http response","z":"bbf2be1b.dcc44","name":"","statusCode":"","headers":{},"x":850,"y":180,"wires":[]},{"id":"a816f693.578ef8","type":"http in","z":"7714bfe9.5b406","name":"","url":"/invite","method":"post","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["b5a92c85.5f28f","91c5a7d8.c8f338"]]},{"id":"b5a92c85.5f28f","type":"function","z":"7714bfe9.5b406","name":"construct email","func":"alert('working');\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["344ae431.74ed5c"]]},{"id":"344ae431.74ed5c","type":"debug","z":"7714bfe9.5b406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":180,"wires":[]},{"id":"91c5a7d8.c8f338","type":"debug","z":"7714bfe9.5b406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":80,"wires":[]}]