flows/user-data/nr-flows.json
[{"id":"9939ae7b.6bba5","type":"tab","label":"Load _templates","disabled":false,"info":""},{"id":"bbf2be1b.dcc44","type":"tab","label":"getMetadata","disabled":false,"info":""},{"id":"7714bfe9.5b406","type":"tab","label":"invite","disabled":false,"info":""},{"id":"e51c2892.38d308","type":"tab","label":"Register","disabled":false,"info":""},{"id":"3c5e4f27.0b89b","type":"tab","label":"non-logged in set up","disabled":false,"info":""},{"id":"f035e4dd.2222f8","type":"tab","label":"reset Password","disabled":false,"info":""},{"id":"ee8ab744.227e48","type":"tab","label":"Get Access Token","disabled":false,"info":""},{"id":"cc511d2e.1b9a4","type":"tab","label":"Mentorship","disabled":false,"info":""},{"id":"9237c781.a9aba8","type":"tab","label":"Get data on load","disabled":false,"info":""},{"id":"16f22c04.9f4fa4","type":"inject","z":"9939ae7b.6bba5","name":"","topic":"","payload":"{\"artConfig\":{\"baseURL\":\"http://localhost:3000/bhive-art/\",\"tenant\":\"mentorme\",\"dataSource\":\"mentorme\",\"app\":\"mentorme\",\"userName\":\"test\",\"password\":\"test\"},\"bottomNavBar\":{\"mentor\":[{\"icon\":\"track_changes\",\"name\":\"Goals\",\"url\":\"\"},{\"icon\":\"dashboard\",\"name\":\"Activity Feed\",\"url\":\"feed\"},{\"icon\":\"people_outline\",\"name\":\"Mentees List\",\"url\":\"mentees\"}],\"mentee\":[{\"icon\":\"track_changes\",\"name\":\"Goals\",\"url\":\"goals\"},{\"icon\":\"message\",\"name\":\"Messages\",\"url\":\"invite\"},{\"icon\":\"person\",\"name\":\"Profile\",\"url\":\"profile\"}]},\"menu\":[{\"name\":\"Profile\",\"url\":\"profile\"},{\"name\":\"Settings\",\"url\":\"setting\"},{\"name\":\"Log Out\",\"url\":\"login\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":200,"wires":[["2bdc5b97.045674"]]},{"id":"2bdc5b97.045674","type":"change","z":"9939ae7b.6bba5","name":"","rules":[{"t":"set","p":"config.menu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[[]]},{"id":"d4f0751d.9c38c8","type":"http in","z":"bbf2be1b.dcc44","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["5602a491.5fd11c"]]},{"id":"5602a491.5fd11c","type":"function","z":"bbf2be1b.dcc44","name":"menu and bottom navbar","func":"msg.payload = {\n    \"navbar\": global.get(\"config\").menu.bottomNavBar,\n    \"menu\" : global.get(\"config\").menu.menu\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["975cfa8a.724ff8"]]},{"id":"975cfa8a.724ff8","type":"http response","z":"bbf2be1b.dcc44","name":"","statusCode":"","headers":{},"x":790,"y":160,"wires":[]},{"id":"a816f693.578ef8","type":"http in","z":"7714bfe9.5b406","name":"","url":"/invite","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["b5a92c85.5f28f"]]},{"id":"b5a92c85.5f28f","type":"function","z":"7714bfe9.5b406","name":"construct email","func":"let message = `<html>\n   <head>\n      <meta name=\"viewport\" content=\"width=700px, initial-scale=1\">\n      <link href=\"https://fonts.googleapis.com/css?family=Poppins\" rel=\"stylesheet\">\n      <style type=\"text/css\">\n         body{ \n\t\t\t background-color: #CCEAFA;\n\t\t }\n      </style>\n   </head>\n   <body style=\"font-family: 'Verdana';\">\n      <div style=\"text-align:center;width:100%;\">\n         <div style=\"width:700px;margin:0 auto;display:inline-block;margin-left:auto;\">\n            <div style=\"text-align:center;\">\n               <img style=\"       margin: 15px 0px 4px 0;\n                  width: 7em;\" src=\"https://i.ibb.co/Lk9Cs4m/mentor-me-logo.png\"\n                  alt=\"\">\n            </div>\n            <div style=\"margin:auto;width:80%;padding-top:8px;padding-bottom:8px;border-top:1px solid rgb(206,203,203);\">\n               <p style=\"text-align:center; font-size: 30px\">\n                  You are invited to Mentor Me\n               </p>\n            </div>\n            <div style=\"margin:auto;width:80%;padding-top:8px;padding-bottom:8px;border-top:1px solid rgb(206,203,203);\">\n\t\t\t   Hello ${msg.payload.full_name} <br><br>\n\t\t\t   \n\t\t\t   {msg.payload.mentorName} would like to mentor you on MentorMe. <br>\n\t\t\t   \n            </div>\n            <div style=\"margin:auto;width:100%;height:52px;\">\n               <!--div style=\"text-align:center;margin-top:20px\">\n                  <a  class=\"btn\" style=\"font-size: 15px; min-width: 274px;text-decoration: none;padding: 20px 60px 20px 60px;color: #ffffff;font-family: Georgia;background: #3368c1;border-radius: 10px;-moz-border-radius: 10;-webkit-border-radius: 10;  background-image: -webkit-linear-gradient(top, #3368c1, #3368c1);background-image: -moz-linear-gradient(top, #3368c1, #3368c1);background-image: -ms-linear-gradient(top, #3368c1, #3368c1);background-image: linear-gradient(to bottom, #3368c1, #3368c1);background-image: -o-linear-gradient(top, #3368c1, #3368c1);\" href=\"${global.get('config')['baseUIurl']}home?id=${msg.payload}\"> Verify My Profile\n                  </a>\n               </div -->\n               <div style=\"  justify-content: center;\">\n                <a href=\"${global.get('config')['baseUIurl']}home?id=${msg.payload}\">\n                <h1>Download MentorMe</h1>\n                </a>\n            </div>\n            </div>\n            <div style=\"margin:auto;width:100%;height:52px; margin-bottom: 15px\">\n               <div style=\"text-align:center\">\n                  <a href=\"${global.get('config')['baseUIurl']}assets/QCD_Terms_and_Conditions.pdf\">Terms and Conditions\n                  </a>\n\t\t\t   </div>\n\t\t\t   <p>If you are not sure what this is about, you can reply to him/her on this email. </p>\n            </div>\n         </div>\n      </div>\n   </body>\n</html>`;\nmsg.payload = message;\n\nlet subject = `You are invited to MentorMe`;\n\n// msg.payload = {};\n\nmsg.to = msg.req.body.email_address;\nmsg.topic = subject;\n// msg.from = msg.req.mentor;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["64e76023.e4e37","8e9597b9.7cdf98","c985f3fb.b77fa"]]},{"id":"64e76023.e4e37","type":"e-mail","z":"7714bfe9.5b406","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":790,"y":60,"wires":[]},{"id":"8e9597b9.7cdf98","type":"debug","z":"7714bfe9.5b406","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":790,"y":260,"wires":[]},{"id":"1e1fd4b6.f43d9b","type":"template","z":"7714bfe9.5b406","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n   <head>\n      <meta name=\"viewport\" content=\"width=700px, initial-scale=1\">\n      <link href=\"https://fonts.googleapis.com/css?family=Poppins\" rel=\"stylesheet\">\n      <style type=\"text/css\">\n         body{ \n\t\t\t background-color: #CCEAFA;\n\t\t }\n      </style>\n   </head>\n   <body style=\"font-family: 'Verdana';\">\n      <div style=\"text-align:center;width:100%;\">\n         <div style=\"width:700px;margin:0 auto;display:inline-block;margin-left:auto;\">\n            <div style=\"text-align:center;\">\n               <img style=\"       margin: 15px 0px 4px 0;\n                  width: 7em;\" src=\"https://i.ibb.co/Lk9Cs4m/mentor-me-logo.png\"\n                  alt=\"\">\n            </div>\n            <div style=\"margin:auto;width:80%;padding-top:8px;padding-bottom:8px;border-top:1px solid rgb(206,203,203);\">\n               <p style=\"text-align:center; font-size: 30px\">\n                  You are invited to Mentor Me\n               </p>\n            </div>\n            <div style=\"margin:auto;width:80%;padding-top:8px;padding-bottom:8px;border-top:1px solid rgb(206,203,203);\">\n\t\t\t   Hello ${msg.payload.full_name} <br><br>\n\t\t\t   \n\t\t\t   {msg.payload.mentorName} would like to mentor you on MentorMe. <br>\n\t\t\t   \n            </div>\n            <div style=\"margin:auto;width:100%;height:52px;\">\n               <!--div style=\"text-align:center;margin-top:20px\">\n                  <a  class=\"btn\" style=\"font-size: 15px; min-width: 274px;text-decoration: none;padding: 20px 60px 20px 60px;color: #ffffff;font-family: Georgia;background: #3368c1;border-radius: 10px;-moz-border-radius: 10;-webkit-border-radius: 10;  background-image: -webkit-linear-gradient(top, #3368c1, #3368c1);background-image: -moz-linear-gradient(top, #3368c1, #3368c1);background-image: -ms-linear-gradient(top, #3368c1, #3368c1);background-image: linear-gradient(to bottom, #3368c1, #3368c1);background-image: -o-linear-gradient(top, #3368c1, #3368c1);\" href=\"${global.get('config')['baseUIurl']}home?id=${msg.payload}\"> Verify My Profile\n                  </a>\n               </div -->\n               <div style=\"  justify-content: center;\">\n                <a href=\"${global.get('config')['baseUIurl']}home?id=${msg.payload}\">\n                <h1>Download MentorMe</h1>\n                </a>\n            </div>\n            </div>\n            <div style=\"margin:auto;width:100%;height:52px; margin-bottom: 15px\">\n               <div style=\"text-align:center\">\n                  <a href=\"${global.get('config')['baseUIurl']}assets/QCD_Terms_and_Conditions.pdf\">Terms and Conditions\n                  </a>\n\t\t\t   </div>\n\t\t\t   <p>If you are not sure what this is about, you can reply to him/her on this email. </p>\n            </div>\n         </div>\n      </div>\n   </body>\n</html>","output":"str","x":320,"y":60,"wires":[[]]},{"id":"6b264f94.cf4b4","type":"http in","z":"e51c2892.38d308","name":"","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":90,"y":300,"wires":[["d0ba74ec.10e578","6235b160.9d07e","8318aad6.4f18d8"]]},{"id":"d0ba74ec.10e578","type":"function","z":"e51c2892.38d308","name":"create local user","func":"let art = global.get(\"config.menu\")[\"artConfig\"];\nlet body = msg.payload.user;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'PUT';\n//msg.headers[\"Authorization\"] = `Basic ${Buffer.from(art.userName + ':' + art.password).toString('base64')}`;\nmsg.headers[\"Authorization\"] = 'Bearer ' + msg.payload.token;\nmsg.url = `${art.baseURL}${art.tenant}/auth/${art.app}/register`;\nmsg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["389bf35d.9df6ec"]]},{"id":"980e6553.7df358","type":"debug","z":"e51c2892.38d308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":400,"wires":[]},{"id":"ec243994.f17f28","type":"http request","z":"e51c2892.38d308","name":"","method":"use","ret":"txt","url":"","tls":"","x":850,"y":260,"wires":[["d47503fa.ad5b2"]]},{"id":"57d2a396.c2b00c","type":"status","z":"9939ae7b.6bba5","name":"","scope":null,"x":160,"y":340,"wires":[[]]},{"id":"62de4fda.90773","type":"http in","z":"3c5e4f27.0b89b","name":"","url":"/newuser","method":"post","upload":false,"swaggerDoc":"","x":240,"y":200,"wires":[[]]},{"id":"6799b832.93d0b8","type":"http in","z":"f035e4dd.2222f8","name":"","url":"/reset","method":"post","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["b5dd8dbb.54d7e","9372e124.77f7"]]},{"id":"b5dd8dbb.54d7e","type":"function","z":"f035e4dd.2222f8","name":"","func":"let art = global.get(\"config.menu\")[\"artConfig\"];\nlet data = msg.payload\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'PATCH';\n\nmsg.headers[\"Authorization\"] = 'Bearer ' + data.token ;\nmsg.url = `${art.baseURL}${art.tenant}/auth/${art.app}/changePassword`;\nmsg.payload = data.body;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["c6d1f7e.972d508"]]},{"id":"1a2a42e4.4ab1fd","type":"http response","z":"f035e4dd.2222f8","name":"","statusCode":"","headers":{},"x":810,"y":180,"wires":[]},{"id":"17d44a36.0ec9e6","type":"http in","z":"ee8ab744.227e48","name":"","url":"/token","method":"post","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["d88fd4a6.b72498"]]},{"id":"9c1c0170.46caf","type":"http response","z":"ee8ab744.227e48","name":"","statusCode":"","headers":{},"x":910,"y":260,"wires":[]},{"id":"d88fd4a6.b72498","type":"function","z":"ee8ab744.227e48","name":"set up api ","func":"let body = {  \"username\": \"neutrinosadmin@neutrinos.co\", \"password\": \"Neutrinos13579!#%&(\", \"uuid\": \"asdhhhsadasdasd\",\n                \"platformDetails\": {\n                    \"browser\": \"Chrome\",\n                    \"browserVersion\": \"70.0.3538.110\",\n                    \"platform\": \"Windows\",\n                    \"platformVersion\": \"10\",\n                    \"type\": \"browser\",\n                    \"uuid\": \"asdhhhsadasdasd\"\n                }}\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'POST';\nmsg.url = 'http://localhost:3000/bhive-art/mentorme/auth/mentorme';\nmsg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["731cfa5e.907f84"]]},{"id":"731cfa5e.907f84","type":"http request","z":"ee8ab744.227e48","name":"","method":"use","ret":"txt","url":"","tls":"","x":650,"y":260,"wires":[["9c1c0170.46caf"]]},{"id":"8ccc06ce.2d5708","type":"e-mail","z":"ee8ab744.227e48","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":920,"y":120,"wires":[]},{"id":"32df6f7d.7ec21","type":"function","z":"ee8ab744.227e48","name":"set up email","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["8ccc06ce.2d5708"]]},{"id":"9372e124.77f7","type":"function","z":"f035e4dd.2222f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[[]]},{"id":"c6d1f7e.972d508","type":"http request","z":"f035e4dd.2222f8","name":"","method":"use","ret":"txt","url":"","tls":"","x":610,"y":180,"wires":[["1a2a42e4.4ab1fd"]]},{"id":"6235b160.9d07e","type":"function","z":"e51c2892.38d308","name":"store in person collection","func":"let art = global.get(\"config.menu\")[\"artConfig\"];\nlet body = msg.payload.person;\nnode.warn(body);\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'PUT';\nmsg.headers[\"Authorization\"] = 'Bearer ' + msg.payload.token;\nmsg.url = `${art.baseURL}${art.tenant}/datamodel/${art.dataSource}/${art.app}/person`;\nmsg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["ec243994.f17f28"]]},{"id":"389bf35d.9df6ec","type":"http request","z":"e51c2892.38d308","name":"","method":"use","ret":"txt","url":"","tls":"","x":850,"y":140,"wires":[["c825537f.0291c"]]},{"id":"d47503fa.ad5b2","type":"http response","z":"e51c2892.38d308","name":"","statusCode":"","headers":{},"x":1150,"y":260,"wires":[]},{"id":"8318aad6.4f18d8","type":"function","z":"e51c2892.38d308","name":"Prepare email","func":"let data = msg.payload.user;\n\nmsg.to = data.username;\nmsg.topic = \"Welcome to MentorMe \" + data.personal_info.name;\nmsg.payload = 'With MentorMe, you are one step closer to achieving your dreams. Make full use of the application';\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":440,"wires":[["d347e67f.4a8798"]]},{"id":"d347e67f.4a8798","type":"e-mail","z":"e51c2892.38d308","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":1150,"y":420,"wires":[]},{"id":"c825537f.0291c","type":"http response","z":"e51c2892.38d308","name":"","statusCode":"","headers":{},"x":1150,"y":140,"wires":[]},{"id":"71d590ca.45295","type":"http in","z":"7714bfe9.5b406","name":"","url":"/checkInvite","method":"post","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[[]]},{"id":"a0e63522.71c848","type":"function","z":"7714bfe9.5b406","name":"Check if email exists","func":"let art = global.get(\"config.menu\")[\"artConfig\"];\nlet body = msg.payload;\nlet object = JSON.stringify(`{'email_address' : '${body.invite.email}'}`);\n// node.warn(body);\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'GET';\nmsg.headers[\"Authorization\"] = 'Bearer ' + msg.payload.token;\nmsg.url = `${art.baseURL}${art.tenant}/datamodel/${art.dataSource}/${art.app}/invites`;\nmsg.url += `?filter=${object}`;\nnode.warn(msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["fb1358ea.08a748"]]},{"id":"fb1358ea.08a748","type":"http request","z":"7714bfe9.5b406","name":"","method":"use","ret":"txt","url":"","tls":"","x":710,"y":460,"wires":[["191da4f6.1914bb"]]},{"id":"191da4f6.1914bb","type":"http response","z":"7714bfe9.5b406","name":"","statusCode":"","headers":{},"x":950,"y":460,"wires":[]},{"id":"c985f3fb.b77fa","type":"http response","z":"7714bfe9.5b406","name":"","statusCode":"201","headers":{},"x":850,"y":180,"wires":[]},{"id":"b72a15f2.651518","type":"http in","z":"cc511d2e.1b9a4","name":"","url":"/getMentees","method":"post","upload":false,"swaggerDoc":"","x":200,"y":280,"wires":[["dd56c3f5.00c1c"]]},{"id":"dd56c3f5.00c1c","type":"function","z":"cc511d2e.1b9a4","name":"","func":"let art = global.get(\"config.menu\")[\"artConfig\"];\nlet token = msg.payload.token;\nlet menteesEmail = [];\nmenteesEmail = msg.payload.mentees\nnode.warn(menteesEmail);\nlet emails = JSON.stringify({ \"contact_details.email_address\" : { \"$in\" : msg.payload.mentees}});\n// node.warn(body);\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'GET';\nmsg.headers[\"Authorization\"] = 'Bearer ' + token;\nmsg.url = `${art.baseURL}${art.tenant}/datamodel/${art.dataSource}/${art.app}/person`;\nmsg.url += `?filter=${encodeURIComponent(emails)}`;\n// msg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["7f0abc46.4706c4","d86e3283.b5661"]]},{"id":"7f0abc46.4706c4","type":"debug","z":"cc511d2e.1b9a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":400,"wires":[]},{"id":"d86e3283.b5661","type":"http request","z":"cc511d2e.1b9a4","name":"","method":"use","ret":"txt","url":"","tls":"","x":720,"y":280,"wires":[["3a5fecef.75f534"]]},{"id":"3a5fecef.75f534","type":"http response","z":"cc511d2e.1b9a4","name":"","statusCode":"","headers":{},"x":1000,"y":300,"wires":[]},{"id":"7e09e4d5.f0a51c","type":"http in","z":"9237c781.a9aba8","name":"","url":"/getData","method":"post","upload":false,"swaggerDoc":"","x":190,"y":260,"wires":[["8b5c1f81.92c1d"]]},{"id":"c0ac9357.4f991","type":"http request","z":"9237c781.a9aba8","name":"","method":"use","ret":"txt","url":"","tls":"","x":680,"y":260,"wires":[["4b9977eb.2d2498","202bb36.e33454c"]]},{"id":"4b9977eb.2d2498","type":"http response","z":"9237c781.a9aba8","name":"","statusCode":"","headers":{},"x":960,"y":260,"wires":[]},{"id":"8b5c1f81.92c1d","type":"function","z":"9237c781.a9aba8","name":"","func":"let art = global.get(\"config.menu\")[\"artConfig\"];\nlet token = msg.payload.token;\nlet email = JSON.stringify({ \"contact_details.email_address\" :  msg.payload.user.username });\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.method = 'GET';\nmsg.headers[\"Authorization\"] = 'Bearer ' + token;\nmsg.url = `${art.baseURL}${art.tenant}/datamodel/${art.dataSource}/${art.app}/person`;\nmsg.url += `?filter=${encodeURIComponent(email)}`;\n// msg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["c0ac9357.4f991"]]},{"id":"202bb36.e33454c","type":"debug","z":"9237c781.a9aba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":500,"wires":[]}]